@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

@import '../blocks/**/*'

.container
	width 1170px
	margin 0 auto
	height 100%

@media screen and (max-width: 1170px)
	.container
		width 100%