@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700,900&display=swap')
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')

@font-face
	font-family "MyriadProBold"
	src url("../fonts/MyriadProBold/MyriadProBold.eot")
	src url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
		url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype")
	font-style normal
	font-weight normal

@font-face
	font-family "MyriadProRegular"
	src url("../fonts/MyriadProRegular/MyriadProRegular.eot")
	src url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
		url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype")
	font-style normal
	font-weight normal

@font-face
	font-family 'Qanelas Soft'
	src local('Qanelas Soft Black'), local('Qanelas-Soft-Black'),
			url('../fonts/QanelasBlack/Qanelas-Black.woff2') format('woff2'),
			url('../fonts/QanelasBlack/Qanelas-Black.woff') format('woff'),
			url('../fonts/QanelasBlack/Qanelas-Black.ttf') format('truetype')
	font-weight 900
	font-style normal

@font-face
	font-family 'Helvetica Neue Cyr Thin'
	src url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot')
	src url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf') format('truetype')
	font-weight normal
	font-style normal