$header-color = #43cb61
$main-color = #43cb83

$card-text = #282828;

$section1-bg = #fff

$transition-duration = 0.2s

$nav-link-color = #fff
$nav-link-hover-color = #000

$text-light = #fff
$text-dark = #000