+b.HEADER.header#home
	.container
		+b.top-nav
			+e.A.link.active(href='#home') Home
			+e.A.link(href='#services') Order services
			+e.A.link(href='#marketing') Beacon Marketing

		+b.header-content
			+b.header-panel
				+e.H1.text_header Discount for Services
				+e.P.text_bold
					| Our advertisement services cost $10 per beacon per month, and we offer wholesale discounts:

				+e.P.text
					| Free installation of the beacons is also an option, but then their marketing capabilities will be used by third parties also. How to Get Connected To get connected to our service or find out more information, please call us at (844)-295-0900 or purchase our service through our site at https://fdh.cloud/order/services

			+b.header-img
				+e.IMG.image(src='images/text_clouds.png' alt='Clouds')
				+e.text_t1 1 Beacon#[<br>]10 $
				+e.text_t2 50 Beacons#[<br>]- 25% off
				+e.text_t3 100 Beacons#[<br>]- 50% off

		+e.IMG.flying-image(src='images/beacon_header.png' alt='Beacon')
			