
.header
	width 100%
	min-height 100vh
	padding 38px 0 0
	background-color $header-color
	background-size cover
	background-position center
	background-image url('../images/header_bg.png')
	
	&>.container
		position relative

	&__flying-image
		position absolute
		bottom -368px
		left -90px
		user-select none
		pointer-events none
		trsansform-origin center
		animation header-flying 8s ease-in-out infinite

@keyframes header-flying
	from
		transform translateY(0)
	50%
		transform translateY(40px)
	to
		transform translateY(0)

.top-nav
	display flex
	flex-direction row
	justify-content flex-end
	margin-right -48px

	&__link
		padding 0 46px
		margin 0
		// margin 0 -17px
		color $nav-link-color
		text-align center
		vertical-align middle
		font-size 18px
		font-weight 500
		line-height 52px
		letter-spacing 0.45px
		text-transform uppercase
		text-decoration none
		border-radius 26px
		transition all $transition-duration ease-in-out

		&:hover
			color $nav-link-hover-color

		&.active
			padding 0 42px
			margin 0 -15px
			// margin 0
			box-shadow 0 10px 37px rgba(0, 0, 0, 0.21)
			color $main-color
			background-color $nav-link-color
			font-weight 700
			
			&:hover
				color $nav-link-hover-color

.header-content
	display flex
	flex-direction row-reverse
	justify-content flex-start
	padding-bottom 48px

.header-panel
	padding-left 24px
	
	&__text
		padding-bottom 20px
		color $text-light
		font-size 18px
		font-weight 400
		line-height 30px
		
		&_header
			padding 80px 0 50px
			font-size 36px
			font-weight 900
			letter-spacing 0.9px
			text-transform uppercase
		
		&_bold
			font-size 24px
			font-weight 700
			line-height 33px
			letter-spacing -0.24px

.header-img
	position relative
	transform-origin center
	&__image
		margin-left -109px
		margin-top -37px
		pointer-events none
		user-select none
	
	&__text
		position absolute
		text-align center
		color #fff
		font-family "Qanelas Soft"
		font-size 51px
		font-weight 400
		trsansform-origin center
		
		&_t1
			top 205px
			left -30px
			color #ff9000
			font-size 54px
			text-transform uppercase
			line-height 52.35px
			transform rotate(-9deg)

		&_t2
			top 164px
			left 311px
			line-height 49.8px
			transform rotate(-8deg)

		&_t3
			top 54px
			left 201px
			line-height 50.16px
			transform rotate(-2deg)

@media screen and (max-width: 1170px)
	.top-nav
		margin-right 0

@media screen and (max-height: 659px)
	.header
		min-height 649px

@media screen and (max-width: 968px)
	.header
		height auto
		overflow hidden
		
		&__flying-image
			display none

	.header-content
		flex-wrap wrap
		justify-content center
	
	.header-panel
		padding-left 0
	
	.header-img
		margin-left 109px
		margin-top 37px
		transform scale(.7)

@media screen and (max-width: 768px)
	.top-nav
		flex-direction column
		padding 0 5%
		
		&__link
			padding 0 !important
			margin 0 !important