+b.FOOTER.footer
	.container
		+e.contact_phone Support:  (844) 295-0900
		+e.contact support@frontdeskhelpers.com
		+b.socials
			+e.A.but_facebook(href='#')
			+e.A.but_google(href='#')
			+e.A.but_youtube(href='#')
			+e.A.but_linked-in(href='#')
		+b.foot-links
			+e.A.link(href='#') Privacy Policy
			+e.A.link(href='#') Terms of Service
			+e.A.link(href='#') Terms of Sales
		+e.copy © 2017 FDH Cloud

	+b.foot-flying
		+e.ring_r1
		+e.ring_r2
		+e.ring_r3
		+e.ring_r4
		+e.IMG.image(src='images/mobile.png' alt='Mobile')
