include ../card-product/card-product

+b.SECTION.section1#services
	.container
		+e.H1.title Choose beacons and fill in the order form?

		+e.cards
			+card-product('ASensor', 'product1.png', 15)
				| ASensor is a BLE beacon with multiple advertising data formats. The BLE is a very low power 2.4G radio that can transmit the beacon information efficiently. The typical beacon battery life is 1.5 year in default settings 3-Axis, 12-bit accelerometer magna aliqua.

			+card-product('ARM Cortex - M0', 'product2.png', 13)
				| ARM Cortex - M0 32-bit processor#[<br />]
				| Dialog solution, long battery life#[<br />]
				| Support Bluetooth Smart 4.0#[<br />]
				| Builtin 1 x CR2450 battery holder Temperature sensor for environment monitoring Configurable by App AprilBeacon

			+card-product('Estimote Proximity Beacons', 'product3.png', 25)
				| Estimote Proximity Beacons#[<br />]
				| lifetime: 2 years#[<br />]
				| range: up to 70 m#[<br />]
				| packets: iBeacon™ or Eddystone™#[<br />]
				| features: motion &#38; temperature sensor, NFC

			+card-product('Aprilbeacon 227L (150M Range) ', 'product4.png', 30)
				| Aprilbeacon 227L (150M Range)#[<br />]
				| iBeacon size: 66mm*36mm*22mm#[<br />]
				| Default frequency: 900ms#[<br />]
				| Setting frequency: 100ms or more#[<br />]
				| System: IOS 7.0, Android 4.3#[<br />]
				| Color: green iBeacon + white case
