.section1
	width 100%
	padding 73px 0 66px
	background-color $section1-bg

	&__title
		padding-bottom 63px
		text-align center
		color $card-text
		font-family 'Lato', sans-serif
		font-size 36px
		font-weight 700
	
	&__cards
		display flex
		flex-direction row
		justify-content space-between