.section1
	width 100%
	padding 73px 0 66px
	background-color $section1-bg
	
	&>.container
		position relative
		z-index 2

	&__title
		padding-bottom 61px
		text-align center
		color $dark-text
		font-family 'Lato', sans-serif
		font-size 36px
		font-weight 700
	
	&__cards
		display flex
		flex-direction row
		justify-content space-between
		flex-wrap wrap
		margin 0 auto -16px

@media screen and (max-width: 1170px)
	.section1
		&__cards
			width 100%
			max-width 596px
			justify-content space-around